
*{

    box-sizing: border-box;
    margin:0;
    padding: 0;
}

input[type="checkbox"]{
    display:none;
}

label{
    width: 50px;

    height: 50px;
    // background: #EA6214;
    border-radius: 50%;
    font-size: 3rem;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index:1;
    cursor: pointer;
    display: flex !important;

    i{

        margin: auto;
        color: white;
    }
}
.containerr{

    width: 100%;
    height: 100vh;
    background: #ea6214f0;
    position: static;
    top: 0;
    left: 0;
    clip-path: circle(25px at calc(100% - -45px ) 45px );
    transition: all 500ms ease-in-out;
    display: flex;
    margin-top: -9rem;
}
.menu{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu a{
    text-decoration:none;
    color: #ffff !important;
    font-size: 3rem;
    margin: 14px 0;
    transition:  100ms ease-in-out;
}
.menu a:hover{

    border-bottom: solid;
}
input[type="checkbox"]:checked ~ .containerr{

    clip-path: circle(100%);
}
