.navbar {
    background-color:transparent;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 26rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color:  #26A0DB!important;
    width: 250px !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    position: fixed !important;
    top: 0 !important;
    right: -100% !important;
    transition: 850ms !important;
}
  
  .nav-menu.active {
    right: 0 !important;
    transition: 350ms !important;
    width: 29rem !important;
    z-index: 10;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    // background-color: #1a83ff;
    // border-bottom: solid #ffff;
    color: white;
  }
  
  .nav-menu-items {
    width: 100%;

  }
  
  .navbar-toggle {
    background-color:  #26A0DB;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
    font-size: 2rem;
  }
  
   span:hover {
    // background-color: #1a83ff;
    border-bottom: solid #ffff;
    color: white;
  }
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    /* margin-bottom: 1rem; */
    color: white;
    list-style: none;
     background-color: transparent !important; 
    /* border-radius: 0.25rem; */
    position: absolute;
    top: 10px;
    right: 10rem;
    z-index: 1;
}
.vidlogo{
  z-index: 1;
  width: 5rem;
  height: 5rem;
}