.sections{

   position: relative;
   width: 100%;
   height: 120vh;
   display: flex;
  
   overflow: hidden ;
  margin-top: -7rem;



  }
  .lobo{
    text-align: left;
    font-size: 6rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    font-weight: 1000;
    color: white;
    padding: 10rem 0rem 0rem 7rem;
  }

.video-container{
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
}
.color-overlay{


  position: absolute;
  top: 0;
  left: 0 ; 
  background-color: #26A0DB;
  width: 100%;
  height: 100vh;
  opacity: 0.1;

}