a{ color: white;}
  
  
.long
{
    width: 100%;
    height: 1200px;
    background-color: #010e19;

}
  
  
.scroll
{
    opacity: 0.3;
    background-color: aqua;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
    
  i{

    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
  }


}
  
 

 
 