.foot{

    background-color: #575352 !important ; 
    margin-top: 3rem;
    color: white;
    padding-top: 4rem;
    width: 100%;
}
.row{
    width:100% ;
    padding: 2rem;
    text-align: center;
}
.colored{
    color: #f2c94b;
    font-weight: bolder;
 
}
.round-icon{
    border: solid 2px;
    border-radius: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
}